[user]
    name = Vítor Avelino
    email = contact@vitoravelino.me
    signingkey = 21C1F76290FCD261

# [includeIf "gitdir:~/Workspace/folder/"]
#         path = ~/Workspace/folder/.gitconfig

[core]
    excludesfile = /home/vitoravelino/.gitignore_global
    pager = diff-so-fancy | less -RFX

[color]
    ui = true

[color "diff"]
    meta = 227
    commit = 227 bold
    whitespace = red reverse
    frag = magenta bold
    old = red bold
    new = green bold

[color "diff-highlight"]
    oldNormal = red bold
    oldHighlight = "red bold 52"
    newNormal = "green bold"
    newHighlight = "green bold 22"

[filter "media"]
    clean = git-media-clean %f
    smudge = git-media-smudge %f

[commit]
    gpgsign = true

[gpg]
    program = /usr/bin/gpg

[format]
    signoff = true
