.header {
  background-color: $background;
  border: 4px solid $background;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  width: 100%;

  > .label-block:not(:last-child),
  > x-chooser:not(:last-child) {
    margin-left: 7px;
  }

  > .label-block,
  > x-chooser {
    line-height: 24px;
    float: right;
  }

  .chooser-option {
    white-space: nowrap;
    padding: 3px 8px;
  }
}

.label-block {
  overflow: hidden;

  &.label-block--no-content {
    .label-block-content {
      display: none;
    }
  }

  &-icon,
  &-content {
    float: left;
    padding: 0 7px;
  }

  &-icon {
    background-color: $foreground;
    color: $background;
    font-size: 16px;
  }

  &-content {
    background-color: $background-alt;
    font-size: 13px;
  }
}
