* {
  background-color: transparent;
  text-color: #DADBC0;
}

#window {
  width: 100%;
  padding: 960;
  background-color: #1f2430e0;
}

prompt {
  enabled: false;
}

#element {
  padding: 10;
}

element-icon { size: 2.4ch; }

#element.selected {
  text-color: #484d5e;
  background-color: #DADBC0;
}

#inputbar {
    padding: 10;
}
