* {
  background-color: transparent;
  font: "Font Awesome 5 Pro Light 48";
  text-color: #484d5e;
}

window {
  width: 100%;
  padding: 575;
  background-color: #1f2430e0;
  children: [ horibox ];
}

horibox {
  children: [ listview ];
}

listview {
  layout: horizontal;
}

element {
  padding: 0 34;
}

element-text selected {
  text-color: #DADBC0;
}
