* {
  background-color: transparent;
  text-color: #DADBC0;
}

window {
  width: 100%;
  padding: 960;
  background-color: #1f2430e0;
}

listview {
  lines: 9;
}

prompt {
  enabled: false;
}

element {
  padding: 5;
}

element-icon { size: 2.4ch; }

element-text selected {
  text-color: #484d5e;
}

element selected {
  background-color: #DADBC0;
}

inputbar {
  padding: 5;
}
